.projects__button, .work__button, .secondary-button, .primary-button {
  display: block;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
}

.join-us__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
  border-radius: 50%;
}

body {
  background-color: white;
  color: #757575;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  max-width: 1600px;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

img {
  display: block;
  height: auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

.main {
  margin-top: 87px;
}

.container {
  padding: 0 30px;
  min-width: 320px;
}

.union {
  background: -webkit-gradient(linear, left top, right top, color-stop(35%, rgba(180, 183, 183, 0.9588877787)), to(#1d2121));
  background: linear-gradient(90deg, rgba(180, 183, 183, 0.9588877787) 35%, #1d2121 100%);
}

.hidden {
  display: none;
}

.page-header {
  border-bottom: 1px solid #73797a;
  background-color: #0b2125;
  position: fixed;
  width: 100%;
  max-width: 1600px;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.92;
}
.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 770px) {
  .nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav {
    margin-left: 103px;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    margin-left: 115px;
  }
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__item:not(:first-child) {
  margin-left: 30px;
}
@media screen and (min-width: 1200px) {
  .nav__item:not(:first-child) {
    margin-left: 50px;
  }
}
.nav__link {
  display: block;
  padding: 35px 0px;
  color: #73797a;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .nav__link {
    font-size: 16px;
  }
}
.nav__link:hover, .nav__link:focus {
  color: #ffffff;
}
.nav__link--current {
  color: #ffffff;
}

.contact {
  margin-left: auto;
}
@media screen and (max-width: 770px) {
  .contact {
    display: none;
  }
}
@media screen and (min-width: 1500px) {
  .contact {
    margin-left: 658px;
  }
}
@media screen and (min-width: 770px) {
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
.contact__icon {
  padding: 0;
  border: 0;
  margin-right: 10px;
}
.contact__link {
  color: #fe8240;
  fill: #fe8240;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover, .contact__link:focus {
  color: #ffffff;
  fill: #ffffff;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  fill: #fe8240;
}
@media (min-width: 771px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  fill: #2196f3;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 70px 40px;
  background-color: #a7bdbd;
  opacity: 0.95;
  z-index: 997;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}
.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  height: 100%;
}
.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu__link {
  font-weight: 500;
  font-size: 35px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #0b2125;
}
.mobile-menu__link:focus, .mobile-menu__link:hover {
  color: #fe8240;
}
.mobile-menu__link--current {
  color: #fe8240;
}
.mobile-menu__contact-item {
  margin-bottom: 25px;
}
.mobile-menu__contact-link {
  font-weight: 500;
  font-size: 25px;
  line-height: 1.172;
  letter-spacing: 0.02em;
  color: #000;
  fill: #000;
}
.mobile-menu__contact-link:hover, .mobile-menu__contact-link:focus {
  font-size: 35px;
  color: #fe8240;
  fill: #fe8240;
}
.mobile-menu__contact {
  margin-bottom: 64px;
}
.mobile-menu__social-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mobile-menu__social-item:not(:last-child) {
  margin-right: 20px;
}

.mobile-menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.mobile-menu__social-link--line::after {
  content: "";
  width: 22px;
  height: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: 10px;
}

.logo {
  color: #ffffff;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 767px) {
  .logo {
    padding: 16px 0;
  }
}
.logo--accent {
  color: #fe8240;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

@media screen and (max-width: 770px) {
  .page-header__logo {
    padding: 24px 0 25px;
  }
}

.page-footer__logo {
  color: #ffffff;
  padding: 0;
}

.hero {
  max-width: 1600px;
  height: 570px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(94, 94, 94, 0.9588877787)), to(rgba(0, 0, 0, 0.9840978628)));
  background: linear-gradient(90deg, rgba(94, 94, 94, 0.9588877787) 0%, rgba(0, 0, 0, 0.9840978628) 100%);
  position: relative;
  z-index: 0;
}
@media screen and (min-width: 770px) {
  .hero {
    height: 857px;
  }
}
.hero__image {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.5;
}
.hero .container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 150px;
  padding-right: 50px;
}
@media screen and (min-width: 770px) {
  .hero .container {
    padding-top: 180px;
  }
}
@media screen and (min-width: 1200px) {
  .hero .container {
    padding-top: 215px;
    padding-right: 75px;
  }
}
.hero__title {
  color: #000;
  font-weight: 700;
  font-size: 27px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 800;
    font-size: 42px;
    line-height: 1.7;
  }
}
.hero__nav-link {
  display: block;
  color: #a7a7a7;
  font-size: 16px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  padding-right: 50px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__nav-link:hover, .hero__nav-link:focus {
  color: #ffffff;
}
@media screen and (min-width: 770px) {
  .hero__nav-link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.15;
    letter-spacing: 0.02em;
  }
}
.hero__logo {
  font-size: 57px;
}
.hero__logo--accent {
  font-size: 40px;
}

.primary-button {
  color: #73797a;
  background-color: transparent;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.primary-button:hover, .primary-button:focus {
  color: #ffffff;
}
.primary-button--with-shadow {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.primary-button--centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.primary-button__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.secondary-button {
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.secondary-button:hover, .secondary-button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.button-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.button-close__icon {
  position: absolute;
  width: 11px;
  height: 11px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close:hover .button-close__icon, .button-close:focus .button-close__icon {
  fill: #2196f3;
}

.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 33, 37, 0.7);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop--hidden .modal {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  padding: 50px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #a7bdbd;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 50%;
  }
}
.modal__text {
  color: #000;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-align: justify;
}
@media screen and (min-width: 1200px) {
  .modal__text {
    font-size: 18px;
  }
}
.modal__list {
  list-style-type: circle;
  margin: 30px 0;
}

.button-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.button-close__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close:hover .button-close__icon, .button-close:focus .button-close__icon {
  fill: #2196f3;
}

.info {
  padding: 50px 15px;
}
@media screen and (min-width: 770px) {
  .info {
    padding: 50px 70px;
  }
}
@media screen and (min-width: 1200px) {
  .info {
    padding: 70px 150px;
  }
}
.info__title {
  color: #000;
  font-weight: bold;
  font-size: 25px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 900px) {
  .info__title {
    font-size: 38px;
    margin-bottom: 30px;
  }
}
.info__description {
  color: #fff;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-align: center;
}
@media screen and (min-width: 900px) {
  .info__description {
    font-size: 21px;
  }
}

.work {
  padding: 50px 5px;
}
@media screen and (min-width: 770px) {
  .work {
    padding: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .work {
    padding: 70px 61px;
  }
}
.work .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.work__title {
  color: #000;
  font-weight: bold;
  font-size: 25px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  margin-right: 15px;
}
@media screen and (min-width: 1200px) {
  .work__title {
    font-size: 38px;
  }
}
.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  height: 100%;
}
@media screen and (min-width: 820px) {
  .work__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.work__item {
  width: 150px;
  margin-bottom: 20px;
}
@media screen and (min-width: 820px) {
  .work__item {
    margin-left: 20px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .work__item {
    width: 250px;
    margin-left: 30px;
  }
}
@media screen and (min-width: 820px) {
  .work__item:nth-last-child(2) {
    padding-top: 120px;
  }
}
@media screen and (min-width: 820px) {
  .work__item:last-child {
    padding-top: 270px;
  }
}
.work__overlay {
  width: 100%;
  height: 150px;
  background-color: #a7bdbd;
  border: 3px solid #2a3b3b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .work__overlay {
    height: 250px;
  }
}
.work__overlay:hover, .work__overlay:focus {
  border: 3px solid #fe8240;
  -webkit-box-shadow: 1px 4px 6px #fe8240;
          box-shadow: 1px 4px 6px #fe8240;
}
.work__name {
  color: #000;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  padding-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .work__name {
    font-size: 25px;
  }
}
.work__button {
  color: #313b3b;
  background-color: #a0b5b5;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  width: 120px;
  height: 30px;
  margin: 0 auto;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .work__button {
    width: 150px;
  }
}
.work__button:hover, .work__button:focus {
  color: #ffffff;
  background-color: #577c7c;
}

.qualities {
  background-color: #fff;
  padding: 70px 30px 0;
}
@media screen and (min-width: 900px) {
  .qualities {
    padding: 70px 70px 30px;
  }
}
.qualities__title {
  color: #000;
  font-weight: bold;
  font-size: 25px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}
@media screen and (min-width: 900px) {
  .qualities__title {
    font-size: 38px;
  }
}
.qualities__item {
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.qualities__overlay {
  min-width: 210px;
  padding: 7px auto;
  margin-right: 70px;
  text-align: center;
}
.qualities__name {
  min-width: 100px;
  padding: 7px auto;
  margin-right: 70px;
  text-align: center;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
}
@media screen and (min-width: 900px) {
  .qualities__name {
    font-size: 25px;
    min-width: 210px;
  }
}
.qualities__descr {
  color: #323434;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 900px) {
  .qualities__descr {
    font-size: 21px;
  }
}

.page-footer {
  background-color: #0b2125;
}
.page-footer__container {
  text-align: center;
  padding: 50px 0;
}

@media screen and (min-width: 1200px) {
  .page-footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: start;
    padding: 50px 180px 50px 70px;
  }

  .join-us {
    margin-left: 70px;
  }

  .subscribe__place {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 1199px) {
  .contact-container {
    margin-bottom: 70px;
  }
}

.page-footer__contact-item:not(:last-child) {
  margin-bottom: 9px;
}

.address {
  margin-top: 20px;
}

.page-footer__location {
  color: white;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.page-footer__contact-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-footer__contact-link:hover, .page-footer__contact-link:focus {
  color: #fe8240;
}

.join-us {
  text-align: center;
}
.join-us__title {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.join-us__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.join-us__social-icon {
  width: 25px;
  height: 25px;
}

.join-us__social-item {
  width: 50px;
  height: 50px;
}
.join-us__social-item:not(:last-child) {
  margin-right: 30px;
}

.join-us__social-link {
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join-us__social-link:hover, .join-us__social-link:focus {
  background-color: #fe8240;
}

.projects {
  background: -webkit-gradient(linear, left top, right top, color-stop(35%, rgba(187, 213, 213, 0.9588877787)), to(#57605f));
  background: linear-gradient(90deg, rgba(187, 213, 213, 0.9588877787) 35%, #57605f 100%);
}
.projects__container {
  padding: 50px 70px;
}
@media screen and (max-width: 900px) {
  .projects__container {
    padding: 25px 30px;
  }
}
.projects__title--none {
  visibility: hidden;
  font-size: 0;
}
.projects__button {
  color: #000;
  background-color: #a7bdbd;
  border: 1px solid #1c433f;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 900px) {
  .projects__button {
    font-size: 25px;
  }
}
.projects__button:hover, .projects__button:focus {
  border: 1px solid #fe8240;
  background-color: #fe8240;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.projects__item {
  color: #000;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}
@media screen and (min-width: 1100px) {
  .projects__item {
    font-size: 18px;
  }
}

.projects-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 25px;
}
.projects-menu__item {
  margin: 15px;
}

.contacts-section {
  padding: 110px 50px;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, color-stop(35%, rgba(187, 213, 213, 0.9588877787)), to(#57605f));
  background: linear-gradient(90deg, rgba(187, 213, 213, 0.9588877787) 35%, #57605f 100%);
}
@media screen and (max-width: 770px) {
  .contacts-section {
    padding: 70px 15px;
  }
}
@media screen and (min-width: 770px) {
  .contacts-section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.contacts-section__item {
  text-align: center;
  margin: 100px auto;
}
@media screen and (min-width: 770px) {
  .contacts-section__item {
    margin: 0 30px 200px 0;
    width: calc((100% - 4 * 30px) / 2);
  }
}
.contacts-section__title {
  color: #000;
  font-weight: bold;
  font-size: 25px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .contacts-section__title {
    font-size: 30px;
  }
}
.contacts-section__text {
  color: #000;
  font-size: 18px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
}
@media screen and (min-width: 900px) {
  .contacts-section__text {
    font-size: 25px;
  }
}
.contacts-section__contact-item {
  margin-bottom: 30px;
}
.contacts-section__contact-link {
  color: #000;
  font-size: 16px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
}
.contacts-section__contact-link:hover, .contacts-section__contact-link:focus {
  font-size: 18px;
  color: #fe8240;
}
@media screen and (min-width: 770px) {
  .contacts-section__contact-link {
    font-size: 25px;
  }
  .contacts-section__contact-link:hover, .contacts-section__contact-link:focus {
    font-size: 30px;
    color: #fe8240;
  }
}
.contacts-section__map {
  margin: 0 auto;
}
@media screen and (min-width: 670px) {
  .contacts-section__map {
    width: 600px;
    height: 450px;
  }
}/*# sourceMappingURL=main.css.map */