.contact {
  margin-left: auto;

  @media screen and (max-width: 770px) {
    display: none;
  }

  @media screen and (min-width: 1500px) {
    margin-left: 405px;
  }

  &__item:not(:last-child) {
    @media screen and (min-width: 770px) {
      margin-bottom: 10px;
    }
  }

  &__icon {
    padding: 0;
    border: 0;
    margin-right: 10px;
  }

  &__link {
    color: #fe8240;
    fill: #fe8240;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;

    display: flex;
    align-items: center;
    transition: color $transition-duration $timing-function, fill $transition-duration $timing-function;

    &:hover,
    &:focus {
      color: #ffffff;
      fill: #ffffff;
    }
    @media screen and (max-width: 900px) {
    font-size: 9px;
  }
  }
}
