.hero {
  max-width: 1600px;
  height: 857px;
  background: linear-gradient(
    90deg,
    rgba(94, 94, 94, 0.9588877787443102) 0%,
    rgba(0, 0, 0, 0.9840978627779237) 100%
  );
  position: relative;
  z-index: 0;

  &__image {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
  }

  & .container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 150px;
    padding-right: 50px;

    @media screen and (min-width: 770px) {
      padding-top: 180px;
    }

    @media screen and (min-width: 1200px) {
      padding-top: 215px;
      padding-right: 75px;
    }
  }

  &__title {
    color: #000;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.06em;

    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
      font-weight: 800;
      font-size: 42px;
      line-height: 1.7;
    }
  }
  &__nav-link {
    display: block;
    color: #a7a7a7;
    font-size: 18px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    padding-right: 50px;
    transition: color $transition-duration $timing-function;

    &:hover,
    &:focus {
      color: #ffffff;
    }
    @media screen and (min-width: 770px) {
      font-weight: 500;
      font-size: 24px;
      line-height: 1.15;
      letter-spacing: 0.02em;
    }
  }

  &__logo {
    font-size: 57px;
  }

  &__logo--accent {
    font-size: 40px;
  }
}
