.info {
  padding: 70px 3px;
  @media screen and (min-width: 770px) {
    padding: 70px 70px;
  }
  @media screen and (min-width: 1200px) {
    padding: 90px 150px;
  }


  &__description {
    color: #fff;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: center;
    @media screen and (min-width: 900px) {
      font-size: 23px;
    }
  }
}
