.info {
  padding: 70px 55px 90px;
  @media screen and (min-width: 770px) {
    padding: 70px 90px 90px;
  }
  @media screen and (min-width: 1200px) {
    padding: 70px 150px 90px;
  }

  &__title {
    color: #000;

    font-weight: bold;
    font-size: 35px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    text-align: center;
    @media screen and (min-width: 770px) {
      font-size: 38px;
    }
  }

  &__description {
    color: #fff;
    font-size: 27px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: center;
  }
}
