.qualities {
  background-color: #fff;
  padding: 70px 20px 0;

  @media screen and (min-width: 900px) {
    padding: 70px 70px 30px;
  }

  &__title {
    color: #000;

    font-weight: bold;
    font-size: 25px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    @media screen and (min-width: 900px) {
      font-size: 38px;
    }
    margin-bottom: 50px;
    text-align: center;
  }

  &__item {
    margin-bottom: 70px;
    display: flex;
    align-items: center;
  }

  &__overlay {
    min-width: 210px;
    padding: 7px auto;
    margin-right: 70px;
    text-align: center;
  }

  &__name {
    min-width: 100px;
    padding: 7px auto;
    margin-right: 70px;
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;

    @media screen and (min-width: 900px) {
      font-size: 25px;
      min-width: 210px;
    }
  }

  &__descr {
    color: #323434;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.03em;

    @media screen and (min-width: 900px) {
      font-size: 21px;
    }
  }
}
