.projects {
  background: linear-gradient(90deg, rgba(187,213,213,0.9588877787443102) 35%, rgba(87,96,95,1) 100%);

  &__container {
    padding: 50px 70px;
    @media screen and (max-width: 900px){
padding: 25px 30px;
    }
  }
  &__title--none {
    visibility: hidden;
    font-size: 0;
  }

  &__button {
    @extend %button;
    color: #000;
    background-color: #a7bdbd;
    border: 1px solid #1c433f;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    padding: 6px 22px;

    transition: border $transition-duration $timing-function,
      background-color $transition-duration $timing-function,
      box-shadow $transition-duration $timing-function;

    @media screen and (min-width: 900px) {
      font-size: 25px;
    }

    &:hover,
    &:focus {
      border: 1px solid #fe8240;
      background-color: #fe8240;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
  }

  &__list{
    padding: 0;
  }
  
  &__item {
    color: #000;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    margin-bottom: 20px;
    @media screen and (min-width: 1100px) {
font-size: 18px;
    }
  }
}

.projects-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 25px;

  &__item {
    margin: 15px;
  }
}
